#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.country{
    border: 5px solid;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    background-color: rgb(228, 213, 213);
}
.name{
    font-size: 40px;
    color: red;
}
#countryDetail{
    background-color: rgb(228, 213, 213);
    border: 5px solid;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}
#countryDetail img{
    width: 200px;
}